* {
    box-sizing: border-box;
}
body {
    margin: 0;

    overflow-x: hidden;
}
:root {
    --default-color-white: #f2efeb;
    --default-color-gray: #545454;
    --default-color-black: #1a2533;
    --default-color-blue: #004aad;
    --default-color-purple: #7611ad;
    --default-color-lightGray: #737675;
}
body {
    background-color: var(--default-color-white);
}
a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}
html {
    scroll-behavior: smooth;
}

/* header */
.cabecalho {
    background-color: var(--default-color-blue);
    color: var(--default-color-white);

    width: 100%;
    height: 180px;

    display: flex;
    justify-content: space-between;
}
.menu-cabecalho {
    display: flex;
    gap: 30px;
}
.botao-inicio button img {
    height: 160px;
    width: auto;

    margin: auto;

    border-radius: 20px;

    background-color: var(--default-color-white);
}
.cabecalho-botao button {
    background: none;
    margin: auto;

    width: auto;
    height: auto;

    color: var(--default-color-white);
    font-family: Agrandir;
    font-size: 20pt;

    border: none;

    cursor: pointer;
}
.cabecalho-botao:first-child button {
    width: 400px;

    display: flex;
}
.cabecalho-botao a {
    margin: auto;
}
.cabecalho-botao {
    width: auto;
    height: 180px;

    display: flex;
}
.cabecalho-botao:first-child {
    width: 400px;
}
.cabecalho-botao.botao-selecionado {
    box-shadow: 0px 4px var(--default-color-black);
}

.menu-cabecalho-mobile {
    display: none;
}

@media only screen and (max-width: 600px)
{
    .cabecalho {
        height: 132px;
    }
    
    .menu-cabecalho {
        display: none;
    }

    .menu-cabecalho-mobile {
        display: flex;
        width: 100%;

        justify-content: space-between;
        align-items: center;
    }

    .menu-logo-mobile {
        display: flex;

        margin-left: 20px;
        margin-right: 20px;
    }
    .menu-logo-mobile a img {
        height: 110px;
        width: auto;
        padding: 4px;
        margin: auto;

        border-radius: 20px;
        background-color: var(--default-color-white);
    }

    .hamburguer {
        cursor: pointer;
        margin: auto;

        position: relative;

        width: 40px;
        height: 40px;

        background-image: url("/GETZ/images/hamburguer.png");
        background-size: contain;
    }

    .mobile-itens  {
        display: none;
    }

    .hamburguer.open .mobile-itens {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 220px;
        
        position: absolute;
        top: 40px;
        left: -90px;

        padding: 12px;
        border-radius: 8px;

        background-color: var(--default-color-black);

        font-family: Agrandir;
    }
    .hamburguer.open .mobile-itens a {
        background-color: var(--default-color-gray);
        width: 100%;

        padding: 8px;
        text-align: center;
    }
}

/* content */
.conteudo {
    width: 100%;
    height: auto;

    display: flex;

    align-items: center;
    flex-direction: column;

    font-family: Agrandir;
}
.mensagem {
    max-width: 60%;
}
.splash {
    max-width: 60%;
    width: 60%;
    height: auto;

    padding: 20px;

    display: flex;
    flex-direction: column;

    align-items: flex-end;

    background-color: var(--default-color-gray);

    border-radius: 15px;
}


/* footer */
.rodape {
    font-family: Agrandir;
    
    width: 100%;
    height: 400px;

    display: flex;
    flex-direction: column;
    gap: 48px;

    justify-content: space-between;

    background-color: var(--default-color-black);
}

.rodape-colunas {
    width: 100%;

    padding-left: 120px;
    padding-right: 120px;
    
    display: flex;
    justify-content: space-between;
}
.rodape-coluna {
    color: var(--default-color-white);
    font-family: Agrandir;

    display: flex;
    flex-direction: column;
}
.rodape-informativo {
    color: var(--default-color-gray);

    display: flex;
    gap: 100px;

    justify-content: space-between;

    margin-left: 40px;
    margin-right: 40px;

    font-size: 12pt;
}

@media only screen and (max-width: 600px) {
    .rodape-colunas {
        flex-direction: column;
    }
}