.lista-componentes {
    background-color: aliceblue;
    border-spacing: 0;

    border-radius: 16px;
}

th, td {
    border: solid 1px black;
    padding: 4px;
}
td {
    text-align: right;
}

.editar button {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;

    cursor: pointer;
    background-image: url("../images/edit-icon.png");
    background-size: contain;
}

.alterar button:first-child {
    width: 25px;
    height: 25px;
    background: transparent;
    border: none;

    cursor: pointer;
    background-image: url("../images/x-icon.png");
    background-size: contain;
}
.alterar button:last-child {
    width: 25px;
    height: 25px;
    background: transparent;
    border: none;

    cursor: pointer;
    background-image: url("../images/check-icon.png");
    background-size: contain;
}

.campo-nota {
    width: 40px;
    text-align: right;
}