@media only screen and (max-width: 600px) {
    .splash {
        max-width: 90%;
        width: 90%;
        padding: 10px;
        align-items: center;
    }

    .splash h1{
        color: white;
    }

    .matriz-curricular {
        overflow-x: auto;
        width: 100%;
        border-radius: 6px;
    }

    .lista-componentes {
        border-collapse: collapse;
        table-layout: fixed;
        border-radius: 6px;
    }

    td, th {
        overflow-wrap: break-word;
        font-size: 10px;
        padding: 2px;
    }

    .editar button {
        width: 20px;
        height: 20px;
        background: transparent;
        border: none;
    
        cursor: pointer;
        background-image: url("../../images/edit-icon.png");
        background-size: contain;
    }
    
    .alterar button:first-child {
        width: 15px;
        height: 15px;
        background: transparent;
        border: none;
    
        cursor: pointer;
        background-image: url("../../images/x-icon.png");
        background-size: contain;
    }
    .alterar button:last-child {
        width: 15px;
        height: 15px;
        background: transparent;
        border: none;
    
        cursor: pointer;
        background-image: url("../../images/check-icon.png");
        background-size: contain;
    }

    input[type="text"] {
        width: 100%;
    }
}